@font-face{
  font-family: "Courier";
  src:  url("../fonts/cour.ttf");
}

@font-face{
  font-family: "Hatten";
  src: url("../fonts/HATTEN.TTF");
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Courier";
}

.leeftijd{
  background-image: url(../images/Banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 101;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
} 

.leeftijd section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5% 0;
}

.leeftijd form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.leeftijd form button{
  display: flex;
  justify-content: center;
  padding: 4% 8%;
  width: 10%;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 200%;
  margin: 5%;
  -webkit-box-shadow: 0px 7px 15px -4px rgba(0,0,0,0.69); 
  box-shadow: 0px 7px 15px -4px rgba(0,0,0,0.69);
}

.leeftijd form button:hover{
  background-color: #2e2e2e;
}

.ja{
  background-color: #C5D200;
}

.nee{
  background-color: #E2378C;
}

.neeAnt{
  display: none;
  align-self: center;
  justify-self: center;
  padding: 3% 10%;
  color: #2e2e2e;
}

.nietOud .neeAnt{
  display: flex;
}

.nietOud h1{
  display: none;
}

.nietOud form{
  display: none;
}

.leeftijdweg{
  display: none;
}

h1, h2, h3, h4, h5{
  font-family: "Hatten";
  letter-spacing: 1px;
  font-weight: 100;
}

header{
  display: flex;
  flex-direction: row;
  background-color: #2e2e2e;
  height: 79px;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-between;
  position: fixed;
}

header img{
  height: 500%;
  position: relative;
  transition: ease-in .2s;
}

header.small-logo img{
  height: 150%;
}


nav{
  background-color: #2e2e2e;
  float: right;
  margin-right: 16%;
  align-self: baseline;
}

ol{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}

ol:nth-of-type(1){
  border-left: 1px white solid;
}

li{
  border-right: 1px white solid;

}

li:hover{
  background-color: #E2378C;

}

li:active{
  background-color: #C5D200;
}

ol li a{
  white-space:nowrap; 
  padding: 30px 55px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  display: block;
  align-self: stretch;
}

 nav ol li:nth-of-type(3){
  pointer-events: none;
  background-color: black;
}

 nav ol li:nth-of-type(3) a{
  color: gray;
}

main{
  padding-top: 79px;
  color: #2e2e2e;
}

.banner{
  background-image: url("../images/Banner-13.png");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  margin: 0;
}

h1{
  color: #2e2e2e;
  font-size: 400%;
  font-weight: light;
  display: flex;
  flex-direction: row;
}

.lekker{
  color: #2e2e2e;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #C5D200;
  font-family: "Hatten";
  width: 100%;
}

.bier{
  color: #2e2e2e;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #E2378C;
  font-family: "Hatten";
  margin-left: 6%;
  width: 100%;
}

.overmij{
  margin-bottom: 0;
}

.overmij section{
  margin-bottom: 5%;
}

article{
  display: flex;
  flex-direction: row;
  margin: 8%;
  justify-content: space-between;
}

div{
  width: 30%;
  height: auto;
  display: flex;
  align-items: flex-end;
}

div img{
  width: 100%;
}

section{
  width: 60%;
}

h2{
  font-size: 200%;
}

p{
  padding-top: 1%;
}

.presale{
  margin: 0;
  border: solid 20px #2e2e2e;
  background: rgb(249,178,51);
  background: linear-gradient(45deg, rgba(249,178,51,1) 0%, rgba(230,51,42,1) 100%);
  padding: 2%;
}

.presale aside{
  border: solid 20px #2e2e2e;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.presale section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presale section img{
  width: 40%;
}

.presale div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.presale div img{
  width: 30%;
  margin: 5%;
  align-self: center;
}

form{
  margin: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form input{
  width: 70%;
  padding: 1%;
  background-color: lightgray;
  border: 1% #2e2e2e solid;
  margin-bottom: 1%;
}

button{
  background-color: #C5D200;
  width: 40%;
  padding: 1%;
  margin-top: 2%;
}

button:hover{
  color: white;
  background-color: #2e2e2e;
}

.vrucht section{
  padding: 3%;
  border-radius: 3%;
  background-color: #CBD887;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vrucht section a:hover{
  background-color: #E2378C;
}

.vrucht div{
  width: 50%;
  display: flex;
  align-items: center;
}

.vrucht a{
  width: 80%;
  background-color: #2e2e2e;
  color: white;
  padding: 3%;
  margin: 4%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;
}

footer{
  background-color: #2e2e2e;
  color: white;
  margin: 0;
  padding: 0.5%;
  font-size: 120%;
}

footer section h2{
  white-space: nowrap;
}

footer article{
  margin: 4%;
  display: flex;
  justify-content: space-around;
}

footer a:hover{
  background-color: #2e2e2e;
  color: #C6D300;
}

footer ol img{
  width: 3%;
  margin: 0;
  padding: 0 1% 0 0;
}

footer section{
  display: flex;
  flex-direction: column;
  width: 40%;
}

footer ol{
  display: flex;
  flex-direction: column;
  border: none;
}

footer li{
  border: none;
}

footer ol li a{
  padding:  0;
  padding-top: 2%;
}

 footer ol:nth-of-type(1){
  border-left: none;
}

footer p{
  padding-bottom: 2%;
}

footer a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1370px){
  header img{
    height: 400%;
  }
}

@media only screen and (max-width: 1170px){
  header img{
    height: 300%;
  }

}

@media only screen and (max-width: 980px){
  article{
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  .leeftijd section{
    width: 80%;
  }

  .leeftijd form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p, a{
    font-size: 80%;
  }

  .vrucht{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vrucht section{
    width: 80%;
  }

  .vrucht div{
    width: 100%;
    margin-top: 5%;
  }

  .vrucht div img{
    width: 60%;
    margin-top: 5%;
  }

  .presale aside div{
    display: none;
  }

  .presale aside{
    padding: 2% 5%;
  }

  div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article img{
    width: 40%;
  }

  header img{
    height: 200%;
  }

  h1{
    font-size: 300%;
  }

  .lekker{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #C5D200;
  }

  .bier{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #E2378C;
  }

  footer article section:nth-of-type(2){
    margin-top: 3%;
  }
}

@media only screen and (max-width: 780px){
  .nav{
    display: none;
  }

  article img{
    width: 50%;
  }

  .vrucht div img{
    width: 80%;
    margin-top: 5%;
  }

}

@media only screen and (max-width: 700px){
  h1{
    font-size: 200%;
  }

  .lekker{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #C5D200;
  }

  .bier{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e;
  -webkit-text-fill-color: #E2378C;
  }

  .vrucht section{
    padding: 10%;
  }

  footer ol img{
  width: 5%;
  margin: 0;
  padding: 0 1% 0 0;
}
}

@media only screen and (max-width: 640px){
  header{
    height: 50px;
  }

  main{
    padding-top: 50px;
  }

  article img{
    width: 60%;
  }
}

@media only screen and (max-width: 470px){
  h1{
    font-size: 150%;
  }

  .banner{
    background-size: 120% auto;
    background-repeat: no-repeat;
  }

  article img{
    width: 70%;
  }

  .presale{
    border: solid 10px #2e2e2e;
    padding: 2%;
  }

  .presale aside{
    border: solid 10px #2e2e2e;
  }


}

@media only screen and (max-width: 325px){
  .banner{
    background-size: 160% auto;
    background-repeat: no-repeat;
  }
}

/* begin webshop */

 #webshopimg{
  height: 150%;
}

.product{
  margin: 4% 10%;
}

.product section{
  width: 60%;
}

.product section img{
  width: 50%;
  align-self: center;
  justify-self: center;
}

.product div{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product div img{
  width: 30%;
}